<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Connection -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:file:./educationdb</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- H2 Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Echo all SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Recreate the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Временно используем create -->

        <!-- Names the annotated entity classes -->
        <mapping class="com.education.entity.User"/>
        <mapping class="com.education.entity.Mentor"/>
        <mapping class="com.education.entity.Enrollment"/>
    </session-factory>
</hibernate-configuration>